{% extends "base.html" %}
{% block content %}



<body class="text-center">
    <form>
        <h1 class="h3 mb-3 font-weight-normal">Compose New Email</h1>
      <label for="to" class="sr-only">to: Email address</label>
      <input type="email" id="to" class="form-control" placeholder="To Email address" required autofocus>
      <label for="cc" class="sr-only">cc: Email address</label>
      <input type="email" id="cc" class="form-control" placeholder="CC Email address" required autofocus>
      <label for="bcc" class="sr-only">bcc: Email address</label>
      <input type="email" id="bcc" class="form-control" placeholder="BCC Email address" required autofocus>
      <label for="subject" class="sr-only">Subject</label>
      <label for="body" class="sr-only">Body</label>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Send</button>
      
    </form>



{% endblock content %}
<!-- 
class ComposeEmail(FlaskForm):
    to = StringField('email', validators=[DataRequired(),Email()])
    cc = StringField('email', validators=[DataRequired(),Email()])
    bcc = StringField('email', validators=[DataRequired(),Email()])
    subject = StringField()
    body = StringField()
    submit = SubmitField('Send') -->