{% extends "base.html" %}
{% block content %}



    <div class="card">
        <div class="card-body">
    <form>
        <h1 class="h3 mb-3 font-weight-normal">Compose New Email</h1>
      <label for="to">to: Email address</label>
      <input type="email" id="to" class="form-control" placeholder="To Email address" required autofocus>
      <br>
      <label for="cc">cc: Email address</label>
      <input type="email" id="cc" class="form-control" placeholder="CC Email address" required autofocus>
      <br>
      <label for="bcc">bcc: Email address</label>
      <input type="email" id="bcc" class="form-control" placeholder="BCC Email address" required autofocus>
      <br>
      <label for="subject">Subject</label>
      <input type="text" id="subject" class="form-control" required autofocus>
      <br>
      <label for="body">Body</label>
      <textarea rows="5" cols="150" id="body" class="form-control input-lg" required autofocus></textarea>
      <br>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Send</button>
      
    </form>
    </div>
    </div>


{% endblock content %}
<!-- 
class ComposeEmail(FlaskForm):
    to = StringField('email', validators=[DataRequired(),Email()])
    cc = StringField('email', validators=[DataRequired(),Email()])
    bcc = StringField('email', validators=[DataRequired(),Email()])
    subject = StringField()
    body = StringField()
    submit = SubmitField('Send') -->