{% extends "base.html" %}
{% block content %}
<script>
    tinymce.init({
      selector: 'textarea',
      plugins: 'noneditable',
      menubar:false,
      plugins: 'autoresize',
      autoresize_on_init: false
    });
  </script>
<div class="container">
    <div class="row">
      <div class="col-sm">
<h2><a href="/email/">Return to Inbox</a></h2>
</div>
</div>

<div class="row">

      <div class="col-sm">
        <a href="/compose" type="button" class="btn btn-primary px-2 mb-2">Compose</a>
     </div>
     <div class="col-sm">
        <a href="/forward/{{ data.id }}" type="button" class="btn btn-primary px-2 mb-2">Foward</a>
     </div>
    
    
</div>



</div>


</div>
    <div class="content-section">
        <div class="list-group">
            <div class="card">
                <div class="card-body">
            <p>date: {{ data.date}}</p>

            {% for from in data.from_ %}
            <p>from: {{ from.name}} ----- {{ from.email }}</p>
            {% endfor %}
            
            {% for to in data.to %}
            <p>to: {{ to.email }}</p>
            {% endfor %}

            <p>cc: </p>
            <p>bcc: </p>

            <h2>subject: {{ data.subject}}</h2>
            <p><textarea>{{ data.body}}</textarea></p>

            <p>Attachments:     
                {% if data.files == 'none' %}
                    none
                {% else %}
                    {% for file in data.files %}
                        <a href ="/download/{{ file.id }}" download={{ file.filename}} >{{ file.filename }} </a>
                    {% endfor %}
            {% endif %}               
            </p>
            

     
    </div>

      </div></div>
       
    </div>
{% endblock content %}