{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
      <div class="col-sm">
<h2><a href="/email/">Return to Inbox</a></h2>
</div>
</div>

<div class="row">
    <div class="col-sm">
    <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
          <label for="inputPassword2" class="sr-only">Search emails</label>
          <input type="password" class="form-control" id="inputPassword2" placeholder="Search the email">
        </div>
        
        <button type="submit" class="btn btn-primary px-2 mb-2">Search</button>
      </form>
      </div>
      <div class="col-sm">
        <button type="button" class="btn btn-primary px-2 mb-2">Compose</button>
     </div>
    
    
</div>



</div>


</div>
    <div class="content-section">
        <div class="list-group">
            <div class="card">
                <div class="card-body">
            <p>date: {{ data.date}}</p>

            {% for from in data.from_ %}
            <p>from: {{ from.name}} ----- {{ from.email }}</p>
            {% endfor %}
            
            {% for to in data.to %}
            <p>to: {{ to.email }}</p>
            {% endfor %}

            <p>cc: </p>
            <p>bcc: </p>

            <h2>subject: {{ data.subject}}</h2>
            <p>{{ data.snippet}}</p>

            <p>Attachments:     
                {% if data.files == 'none' %}
                    none
                {% else %}
                    {% for file in data.files %}
                        <a href ="/download/{{ file.id }}">{{ file.filename }}</a>
                    {% endfor %}
            {% endif %}               
            </p>
            

     
    </div>

      </div></div>
       
    </div>
{% endblock content %}